# Python
__pycache__/
*.py[cod]
*.egg-info/

# 虚拟环境
.venv/
venv/
env/

# 编辑器
.idea/
.vscode/

# 系统
Thumbs.db
.DS_Store

# 录制的演示如果太大可忽略（小的建议保留，招聘会要用）
# docs/demo.gif

# wrangler files
.wrangler
.dev.vars*
!.dev.vars.example
.env*
!.env.example
